@font-face{
  font-family: "mifuentebold";
  src: url(../fonts/Gothamroundedbold.otf);
}

@font-face{
  font-family: "mifuenteregular";
  src: url("../fonts/GothamLightRegular.otf");
}

*{
  padding: 0;
  margin:0;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  color: white;
  height: 100vh;
  /*background: linear-gradient(45deg,  #42a5f5 0%,#478ed1 50%,#0d47a1 100%);*/
  font-family:'mifuenteregular';
  font-size: 16px;
  font-weight:2 ;
}

ul{
  list-style-type: none;
}

h1{
  /*font-size: 70px;*/
  font-family: 'mifuentebold', 'mifuenteregular';
  width: 100%;
  text-align: center;
  font-size: 3rem
}

hr{ 
  display: block; 
  /*content: ""; */
  height: 30px; 
  /*margin-top: -31px; */
  border-style: solid; 
  border-color: white; 
  border-width: 0 0 1px 0; 
  border-radius: 20px;
}

a{
  color: inherit;
  display: block;
  padding: 20px;
  transition: all 0.5s;
}

a:hover{
  font-size: 1.1rem;
}

p{
  line-height: 1.5rem;
  opacity: .1;
  transition: all 2s;
  transform: translateX(30%) scale(0)
}

p.active{
  opacity: 1;
  transform:translateX(0) scale(1);

}

label{
  transition: all 0.5s
}

label.active{
  font-size: 1.2rem;
  color:dodgerblue;
}

input,select{
  height: 45px;
  border-radius: 3px;
  width: 100%;
  margin-top:12px;
  font-size:1.5rem;
}

textarea{
  height: 200px;
  width: 100%;
}

small{
  color:#d6d6d6;
  font-size: 0.8rem;
  font-style: italic;
}

button{
  margin-top: 20px
  height: 30px;
  border-radius: 5px;
  background-color: dodgerblue;
  border:1px solid white;
  color: inherit;
  padding: 3px 20px;
  width: 200px;
  cursor: pointer;
}

.navbar{
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  font-family: "mifuentebold","mifuenteregular";
  position: fixed
}

.navbar__list{
  display: flex;
  flex-direction: row;;
  z-index: 100
}

.navbar__item{
  text-align: center;
}

.navbar__item.active{
  color:dodgerblue;
  /*opacity: 0.5;*/
  font-size: 1.1rem
}

.navbar__item--logo{
  margin-right:auto
}

#inicio{
  background-image: url("../images/sky-colors-wide2.jpg");
  background-size: cover;
  background-position: center;
  /*margin-top: -60px;*/
  padding-right: 80px;
  display: flex;
  justify-content: flex-end;
  align-items:  center;
  height: 100vh !important
}

#inicio p {
  font-size: 1.8rem;
  line-height: 3.5rem;
  width: 600px;
  font-family: 'Pacifico', cursive;
  color:white;
  text-align: right;
  text-shadow: 3px 0px 12px rgba(97, 97, 97, 0.76);
}

#quien-soy{
  background:#ff2b66;
  padding: 80px;
}

.quien-soy__info__photo{
  /*width: 100px;*/
  border-radius: 150px
}

.quien-soy__info{
  padding: 20px;
  width: 100%;
}

.quien-soy__info__columna{
  box-sizing: border-box;
  padding: 40px;
  height: 400px;
  font-size: 1.5rem;
  text-align: center;
  width:40%;
  float:left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.quien-soy__info__photo{
  width: 20%;
  float:left;
}

#estudios-experiencia{
  background-color:#ffa200;
  padding: 80px 150px;
}

.estudios-experiencia__info{
  margin-top: 55px;
  display: flex;
  flex-direction: row
}

.paper{
  background-color: white;
  color:black;
  padding: 50px;
  width: 50%
}

.paper__title{
  font-size:1.3rem;
  margin-bottom: 10px;
  margin-top: 25px;
}


.paper span{
  color:#ffa200;
}

.estudios__info{
  transform: rotate(-3deg);
-webkit-box-shadow: 12px -6px 20px 1px rgba(0,0,0,0.26);
-moz-box-shadow: 12px -6px 20px 1px rgba(0,0,0,0.26);
box-shadow: 12px -6px 20px 1px rgba(0,0,0,0.26);
z-index: 100
}

.experiencia__info{
  transform: rotate(1deg);
-webkit-box-shadow: 12px -6px 20px 1px rgba(0,0,0,0.26);
-moz-box-shadow: 12px -6px 20px 1px rgba(0,0,0,0.26);
box-shadow: 12px -6px 20px 1px rgba(0,0,0,0.26);
/*z-index: 100*/
}

#sobre-mi{
  background-color:#8bc34a;
  padding: 80px 250px;
  /*display: flex;
  flex-direction: column;
  align-items: center*/
}

.sobre-mi__video{
  margin-top:20px;
  width: 550px;
  margin: 20px auto
  
}

.sobre-mi__info p{
  margin-top:20px;
  font-size: 2rem;
  line-height: 2.5rem !important
}

#contacto{
  background-color: black;
  padding: 80px 225px;
  box-sizing: content-box !important;
  min-height: 900px !important
}

.contacto__title{
}

.contacto__logo{
  align-self: center;
  text-align: center;
  width: 50%;
  height: 700px;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center
}

.contacto__form{
  width: 50%;
  float:left;
  height: 100%;
  display: flex;
  /*flex-flow: row wrap;*/
  flex-direction: column;
  justify-content: space-around
}

.form-row{
  margin-top:50px;
}

#otrosmedios{
  display: none
}

#ajax{
  background-color:#262f73;
  min-height: 100px !important;
  text-align: center;
  padding: 20px 0px
}

#msg-info{
  border-radius: 5px;
  padding: 20px;
  background-color: green;
  position: relative;
  top:-20px;
  float: right;
  transition: all 0.8s;
  opacity: 0;
  cursor: pointer;
}

#msg-info.active{
  opacity: 1
}


